body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Custom CSS */
.custom-link {
  /* font-size: 1.2rem; */
  /* color: #2196f3;  */
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  line-height: 1.6 !important;
  letter-spacing: 0.0075em !important;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  /* Hover effect for text color */
  &:hover {
    /* color: #ffc107;  */
  }

  /* Underline effect */
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    background: #2196f3; /* Your primary color */
    transition: right 0.3s ease-in-out;
  }

  /* Hover effect for underline */
  &:hover::before {
    right: 0;
  }
}

/* hero section */
.hero-section {
  background-color: #007bff;
  padding: 80px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  text-align: left;
}

.service-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.icon {
  /* font-size: 40px; */
  /* color: white; */
}

.hero-image {
  transform: scale(1.1);
  transition: transform 2s ease-in-out;
}

.hero-image:hover {
  transform: scale(1.2);
}

.typed-text {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid transparent;
  animation: typing 0.5s steps(15, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from,
  to {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right: 2px solid white;
  }
}

.cursor {
  animation: blink 0.75s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: none;
}
